<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navbar}">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Anime Details</h1>
                </div>
                <div class="row bg-light rounded">
                    <div class="col-md-6"><img src="/pic/anime.png" height="350px"></div>
                    <div class="col-md-6 pt-3">
                        <h2>Anime</h2>
                        <h4 th:text="'Name: ' + ${animeDetails.name}"></h4>
                        <h4 th:text="'Studio: ' + ${animeDetails.studio}"></h4>
                        <h4 th:text="'Description: ' + ${animeDetails.description}"></h4>
                        <h4 th:text="'Time of the series: ' + ${animeDetails.time}"></h4>
                        <div class="align-bottom">
                            <a class="btn btn-danger align-bottom"
                               th:href="@{/animes/anime-delete/{anime-name}(anime-name=${animeDetails.name})}">Delete anime</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>